
@font-face {
    font-family: 'aliceregular';
    src: url('Alice-Regular-webfont.eot');
    src: url('Alice-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Alice-Regular-webfont.woff2') format('woff2'),
         url('Alice-Regular-webfont.woff') format('woff'),
         url('Alice-Regular-webfont.ttf') format('truetype'),
         url('Alice-Regular-webfont.svg#aliceregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'aliceregular', Arial, sans-serif;    
}
p {
    font-size: 1.1rem;
    line-height: 1.3rem;
    margin-bottom: 1rem;
}

.content section {
    margin: 2rem 3rem;
}
.container {
    display: flex;
    margin: 0 auto;
}

main {
    align-items: stretch;
}

h3 {
    margin-bottom: 2rem;
}

h4 {
    margin-bottom: 0.5rem;
}

h5 {
    margin-bottom: 0.5rem;
}

/* HEADER */

figure {
    flex-basis: 30%;
    flex-shrink: 0;
    background-color: #FBC02D;
    text-align: center;
}

figure img {    
    border-radius: 50%;
    border: solid 4px orange;
    margin: 2rem 0;
}

.title {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
}
  
h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

h1 span {
    background-color: white;
    color: #FBC02D;
}

h2 {
    font-size: 2rem;
}

h2 span {
    border-bottom: solid 4px #FBC02D;    
}

/* ASIDE */

.aside {
    flex-basis: 30%;
    flex-shrink: 0;
    background-color: #FBC02D;
    display: flex;
    flex-direction: column;
}

.aside section:nth-child(2) {
    flex-grow: 1;
}

.aside h3 {
    background-color: #474747;
    font-size: 2rem;
    color: #FBC02D;
    text-align: center;
    padding: 0.5rem 0;    
}


.aside p {
    margin-bottom: 1rem;
}

.propos {
    text-align: justify;
    margin: 2rem;  
}

.loisirs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.loisirs img {    
    color: #474747;
    align-items: center;
    border-radius: 50%;
    border: solid 2px #474747;
    margin-bottom: 2rem;
}

/* CONTENT */

.content h3 {
    font-size: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 4px #FBC02D;
    margin-bottom: 2rem;
    display: flex;
}

h3 i {
    color: #FBC02D;
    margin-right: 2rem;
}

.article {
    display: flex;
    margin-bottom: 2rem;
}

article {
    flex-grow: 1;
}

aside {
    flex-basis: 30%;
    flex-shrink: 0;
    margin-right: 1rem;
    display: flex;
}

aside i {
    margin-right: 1rem;
}
.reco {
    display: flex;
}

/* Responsive => méthode Bootstrap */

/* extra-small => portables en format portrait */
@media (max-width: 575.98px) {
    .container {
        width: 90%;
    }
}

/* small => portables en format paysage */
@media (min-width: 576px) and (max-width: 767.98px) {
    .container {
        width: 540px;
    }
}

/* medium => tablettes */
@media (min-width: 768px) and (max-width: 991.98px) {
    .container {
        width: 720px;        
    }

}

/* large => écrans PC < 12 pouces */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        width: 960px;
    }
}

/* extra-large => écrans PC > 12 pouces et TV */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

/* global => tout type d'écrans < 992 pixels */
@media (max-width: 992px) {
    .container {
        flex-direction: column;
    }
    .aside {
        order: 2;
    }
    .title {
        justify-content: center;
        margin: 3rem auto;
    }
    .contact {
        text-align: center;
    }
    .content {
        margin-left: 1rem;
    }
    .aside h3 {
        margin-bottom: 1rem;
    }
    .aside div {
        margin: 1rem;
    }
    .content h3 {
        margin-bottom: 1rem;
    }
    .article {
        margin-bottom: 1rem;
    }
    .loisirs i {
        margin-bottom: 1rem;
    }
}

/* global => tout type d'écrans < 576 pixels */
@media (max-width: 576px) {
    .title {        
        margin: 2rem auto;
    }
    .content {
        margin-left: 0.5rem;
    }
    .article {
        flex-direction: column;
    }
    aside {
        margin-bottom: 1rem;
    }
    .reco {
        margin-bottom: 1rem;
    }
}